{% extends 'core/base.html' %}
{% load static %}

{%block content %}


                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Préstamos Online </h2>
                                <p class="pageheader-text"></p>
                                <div class="page-breadcrumb">
        
                                </div>
                            </div>
                        </div>
 
{% endblock %}         
               