{% extends 'core/base.html' %}
{% load static %}

{%block content %}


                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Préstamos  </h2>
                                <p class="pageheader-text"></p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            {%if respuesta == True%}
                                            <h2 class="pageheader-title">Su Préstamo fue Aprobado </h2>
                                            {%else%}
                                            <h2 class="pageheader-title">Lo sentimos, su préstamo fue rechazado </h2>
                                            {%endif%}
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
 
{% endblock %}        